In [1]:
import pandas as pd

# Data cleaning

## Read in data

In [2]:
df0 = pd.read_csv('./tmy3.csv')

/home/yulu/.local/lib/python3.5/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (62,66) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df0.head()

,Date (MM/DD/YYYY),Time (HH:MM),ETR (W/m^2),ETRN (W/m^2),GHI (W/m^2),GHI source,GHI uncert (%),DNI (W/m^2),DNI source,DNI uncert (%),...,AOD source,AOD uncert (code),Alb (unitless),Alb source,Alb uncert (code),Lprecip depth (mm),Lprecip quantity (hr),Lprecip source,Lprecip uncert (code),station_number
0,01/01/1998,01:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
1,01/01/1998,02:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
2,01/01/1998,03:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
3,01/01/1998,04:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150
4,01/01/1998,05:00,0,0,0.0,2,0.0,0.0,2,0.0,...,F,8,0.19,F,8,NaN,NaN,NaN,0,690150

## Convert to date averaged data

In [34]:
dfDay = df0.groupby('Date (MM/DD/YYYY)').mean()   # group by day and take mean
dfDay.index = pd.to_datetime(dfDay.index)    # set index as datetime dtype
dfDay = dfDay[dfDay.columns[dfDay.dtypes != object]]  # remove object dtypes (all are source data)

In [35]:
dfDay.shape

(9062, 53)

## Remove NA columns (2 cols)

In [36]:
dfDay.isna().sum()  # NA values

ETR (W/m^2)                   0
ETRN (W/m^2)                  0
GHI (W/m^2)                   0
GHI source                    0
GHI uncert (%)                0
DNI (W/m^2)                   0
DNI source                    0
DNI uncert (%)                0
DHI (W/m^2)                   0
DHI source                    0
DHI uncert (%)                0
GH illum (lx)                 0
GH illum source               0
Global illum uncert (%)       0
DN illum (lx)                 0
DN illum source               0
DN illum uncert (%)           0
DH illum (lx)                 0
DH illum source               0
DH illum uncert (%)           0
Zenith lum (cd/m^2)           0
Zenith lum source             0
Zenith lum uncert (%)         0
TotCld (tenths)               0
TotCld uncert (code)          0
OpqCld (tenths)               0
OpqCld uncert (code)          0
Dry-bulb (C)                  0
Dry-bulb uncert (code)        0
Dew-point (C)                 0
Dew-point uncert (code)       0
RHum (%)                      0
RHum uncert (code)            0
Pressure (mbar)               0
Pressure uncert (code)        0
Wdir (degrees)                0
Wdir uncert (code)            0
Wspd (m/s)                    0
Wspd uncert (code)            0
Hvis (m)                      0
Hvis uncert (code)            0
CeilHgt (m)                   0
CeilHgt uncert (code)         0
Pwat (cm)                     0
Pwat uncert (code)            0
AOD (unitless)                0
AOD uncert (code)             0
Alb (unitless)                0
Alb uncert (code)             0
Lprecip depth (mm)         4470
Lprecip quantity (hr)      4470
Lprecip uncert (code)         0
station_number                0
dtype: int64

In [37]:
dfDay = dfDay.dropna(axis = 1)

In [38]:
dfDay.shape

(9062, 51)

In [40]:
dfDay.to_csv('./tmy3_by_date.csv')